<div class="container">
  <h2>Tour</h2>
  <%= link_to 'Create Tour', new_tour_path, class: "btn btn-primary" %>   
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Tour Type</th>
        <th>Recurrence</th>
        <th>Recurrence Date</th>
        <th>Tour Length</th>
        <th>No. of occurences</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    	<% @tours.each do |tour| %>
	      <tr>
	        <td><%= tour.start_datetime %></td>
	        <td><%= tour.end_datetime %></td>
	        <td><%= tour.tour_type %></td>
	        <td><%= tour.recurring %></td>
	        <td><%= tour.recurring_date %></td>
	        <td><%= tour.tour_length %></td>
	        <td><%= tour.recurring_times %></td>
          <td><%= link_to 'Delete', tour_path(tour), method: :delete, class: "btn btn-primary" %> </td>
	      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>